footer {
    position: fixed;
    bottom: 0;
    width: 100%;
   padding: 10px 0px;
    
}
/* Genel stil */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1.6;
    
}

/* Arka plan resmi ve kaplama */
.hero-section {
    background-image: url('/images/kutuphane.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

    .hero-section::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5); /* Koyu bir kaplama */
    }

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 800px;
    padding: 20px;
}

    .hero-content h1 {
        font-size: 3.5rem;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .hero-content p {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }

    .hero-content .btn {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1rem;
        transition: background-color 0.3s ease;
    }

        .hero-content .btn:hover {
            background-color: #0056b3;
        }